[Desktop Entry]
Version=1.0
Type=Application
Name=Parrot Setup-Assistent
Comment=Tastatur-Fix, NVIDIA, KDE-Designs, Steam & System-Updates einrichten
Exec=/bin/bash -c "p=\\"%k\\"; p=\\"\\${p#file://}\\"; cd \\"\\$(dirname \\"\\$p\\")\\" && exec ./start.sh"
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=true
